# Virtual environment
.venv/
venv/
ENV/

# Python bytecode & caches
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.tox/

# Data & Model output artifacts
data/raw/
data/processed/
saved_models/
