# Local package editable install
-e .

# Core data science and ML dependencies
scikit-learn
pandas
numpy
PyYAML
joblib

# MLOps & Data Version Control
dvc

# Web & Deployment
flask
gunicorn

# Testing & Quality
pytest
flake8
tox